.CaseEditor {
    min-height: 60em;
    margin: 0;
    padding: 0;
}

.react-codemirror2 {
    width: 100%;
}

.react-codemirror2 > .CodeMirror {
    height: 50em;
}

.react-codemirror2 > .CodeMirror-wrap {
    height: 50em;
}
