.buttonContainer {
  cursor: pointer;
  width: 70px;
  height: 30px;
  border-radius: 15px;
  position: relative;
  display: flex;
  padding: 3px 6px;
  justify-content: space-between;
  align-items: center;
  border: none;
  box-shadow: 1px 1px 3px;
}

.buttonMarker {
  width: 26px;
  height: 26px;
  border-radius: 13px;
  position: absolute;
}
