.CardContainer {
    padding: 0.5em;
    margin: 0;
}

.Card {
    background: #fff;
    border-radius: 0.5em;
    box-shadow: 0 0 10px 10px #eeeef5;
    padding: 1em;
    margin: 1px;

}

.Card:hover {
    background: #fff;
    border-radius: 0.5em;
    box-shadow: 0 0 10px 10px #e3e3ee;
    border: solid 1px rgb(36, 66, 164);
    padding: 1em;
    margin: 0;
}
