.ModalWrapper {
    background: rgb(35, 67, 164);
    border: none;
    font-size: 0.9em;
    color: #fff;
    font-weight: bolder;
    border-radius: 2em;
}

.ModalContainer {
    margin: 0;
    padding: 1em;
    /*background: rgb(36, 66, 164);*/
    color: #fff;
    border-radius: 2em;
}

.ModalContentContainer {
    margin: 0;
    padding: 2em 1em;
    background: #fff;
    color: #000;
    border-radius: 2em;
}

.CloseTime {
    float: right;
}

.CloseTime:hover {
    transform: rotate(360deg) scale(1.5);
    -webkit-transform: rotate(360deg) scale(1.5);
    -moz-transform: rotate(360deg) scale(1.5);
    -o-transform: rotate(360deg) scale(1.5);
    -ms-transform: rotate(360deg) scale(1.5);
    transition: all 0.5s;
    float: right;
}

.modal-content {
    border: none;
    border-radius: 2em;
    background: rgb(36, 66, 164);
    color: #fff;
}
