@import '../../../styles/common';

.HeaderContainer {
  background: $primary-page-background-color;
  max-height: $primary-header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s cubic-bezier(0.34, 0.69, 0.1, 1);
  padding-inline: 20px !important;

  .logo {
    color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      margin: 0 0 0 10px;
      font-size: 25px;
    }
  }

  .RightContainer {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  .text {
    color: $link-gray;
    font-size: 15px;
    padding: 0 5px 0 5px;
    display: flex;
    align-items: center;
    span {
      color: $link-gray;
    }
  }
}
