.App {
    background: rgb(36, 66, 164);
    margin: 0;
    padding: 0;
    height: 100%;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: none !important;
}

.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 618ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 618ms ease-in;
}


.Icon {
    float: right;
    border: solid 1px #fff;
    border-radius: 10em;
    width: 2em;
    margin-top: -0.5em;
    height: 2em;
    box-shadow: 0 0 10px 3px #d3d3d3;
}

.Icon:hover {
    transform: scale(1.2);
    transition: all 0.3s;
}
