.LeftMenu {
    background: rgb(36, 66, 164);
    margin: 0;
    padding: 0;
    color: #fff;
}

.MenuItem {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    color: #fff;
}

.MenuItemSelected {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    background: rgb(242, 245, 248);
    color: #000;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}

.MenuItemNiberTop {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    background: rgb(36, 66, 164);
    border-bottom-right-radius: 2em;
}

.MenuItemNiberBottom {
    margin:0;
    padding: 0.8em 0;
    background: rgb(36, 66, 164);
    border-top-right-radius: 2em;
}

.MaskClassNameDefault {
    padding: 0;
    margin: 0;
}

.MaskClassNameMask {
    padding: 0;
    margin: 0;
    background: rgb(242, 245, 248);
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}

.MenuItem:hover {
    background: rgb(55, 83, 182);
    color: #fff;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}
